# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.envrc*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS .gitignore https://raw.githubusercontent.com/github/gitignore/master/Global/macOS.gitignore
.DS_Store

# Jetbrains .gitignore https://raw.githubusercontent.com/github/gitignore/master/Global/JetBrains.gitignore
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.Python-version

# Rope project settings
.ropeproject

# Logs
*.log

# Docker env files
*.env

# Mypy cache
.mypy_cache/
